*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #283149;
    color:  #fff;
    text-align: center;
}
.heading{
    margin-top: 10px;
    font-size: 5rem;
    text-shadow: 5px 0 #dbedf3;
}
.container{
    height: 100vh;
    width: 100%;
    padding: 2% 1%;
}
footer{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.instrument{
    margin: 50px auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box{
    height: 150px;
    width: 150px;
    margin: 10px;
    font-size: 4rem;
    text-shadow: 3px 0 #dbedf3;
    color: crimson;
    background-color: #fff !important;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}
.w{
    background: url(./images/tom1.png);
}
.a{
    background: url(./images/tom2.png);
}
.s{
    background: url(./images/tom3.png);
}
.d{
    background: url(./images/tom4.png);
}
.j{
    background: url(./images/crash.png);
}
.k{
    background: url(./images/kick.png);
}
.l{
    background: url(./images/snare.png);
}


@media (max-width:372px){
    .heading{
        font-size: 3.1rem;
    }
    footer{
        font-size: 1.3rem;
    }
    .box{
        height: 90px;
        width: 90px;
        font-size: 3rem;
    }
}

@media (min-width:372px) and (max-width: 414px){
    .heading{
        font-size: 3.5rem;
    }
    footer{
        font-size: 1.1rem;
    }
    .box{
        height: 120px;
        width: 120px;
        font-size: 3rem;
    }
}

@media (min-width: 414px) and (max-width: 517px){
    
    .heading{
        font-size: 4rem;
    }
    footer{
        font-size: 1.3rem;
    }
    .box{
        height: 130px;
        width: 130px;
        font-size: 4rem;
    }
}